<form [formGroup]="kundeForm">

  <table>
    <thead>
      <tr>
        <th>Nachname</th>
        <th>Vorname</th>
        <th>Telefon</th>
        <th>Strasse</th>
        <th>Hausnr</th>
        <th>Ort</th>
        <th>PLZ</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody formArrayName="kunden">
      <tr *ngFor="let kunde of kunden.controls; let i = index" [formGroupName]="i"
        [ngClass]="{ 'editing': i == editRowIndex }">
        <td>
          <input formControlName="nachname" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].nachname">
          <div>{{getKundenErrors(i, "nachname")}}</div>
        </td>
        <td>
          <input formControlName="vorname" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].vorname">
          <div>{{getKundenErrors(i, "vorname")}}</div>
        </td>
        <td>
          <input formControlName="tel" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].tel">
          <div>{{getKundenErrors(i, "tel")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="strasse" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.strasse">
          <div>{{getKundenErrorsNested(i, "strasse")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="hausnr" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.hausnr">
          <div>{{getKundenErrorsNested(i, "hausnr")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="ort" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.ort">
          <div>{{getKundenErrorsNested(i, "ort")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="plz" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.plz">
          <div>{{getKundenErrorsNested(i, "plz")}}</div>
        </td>
        <!-- Repeat the same pattern for other columns -->
        <td>
          <button (click)="toggleEditRow(i)">{{ i == editRowIndex ? 'Save' : 'Edit' }}</button>
        </td>
        <td>
          <button (click)="confirmDeleteRow(i)" *ngIf="i !== editRowIndex">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>