<input type="text" [(ngModel)]="searchTerm" placeholder="Search customers" />
<button (click)="search(searchTerm)">Suche</button>

<form [formGroup]="kundeForm">

  <table>
    <thead>
      <tr>
        <!-- <th>Nachname</th>
        <th>Vorname</th> -->
        <th appSortOrder="nachname" (sortEvent)="sortTable($event)">Nachname</th>
        <th appSortOrder="vorname" (sortEvent)="sortTable($event)">Vorname</th>
        <th appSortOrder="tel" (sortEvent)="sortTable($event)">Telefon</th>
        <th appSortOrder="adresse.strasse" (sortEvent)="sortTable($event)">Strasse</th>
        <th appSortOrder="adresse.hausnr" (sortEvent)="sortTable($event)">Hausnr</th>
        <th appSortOrder="adresse.ort" (sortEvent)="sortTable($event)">Ort</th>
        <th appSortOrder="adresse.plz" (sortEvent)="sortTable($event)">PLZ</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody formArrayName="kunden">
      <tr *ngFor="let kunde of kunden.controls; let i = index" [formGroupName]="i"
        [ngClass]="{ 'editing': i == editRowIndex }">
        <td>
          <input formControlName="nachname" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "nachname")}}</div>
        </td>
        <td>
          <input formControlName="vorname" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "vorname")}}</div>
        </td>
        <td>
          <input formControlName="tel" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "tel")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="strasse" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "adresse.strasse")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="hausnr" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "adresse.hausnr")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="ort" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "adresse.ort")}}</div>
        </td>
        <td formGroupName="adresse">
          <input formControlName="plz" [readonly]="!isEditRow(i)">
          <div>{{getKundenErrors(i, "adresse.plz")}}</div>
        </td>
        <!-- Repeat the same pattern for other columns -->
        <td>
          <button (click)="toggleEditRow(i)">{{ i == editRowIndex ? 'Save' : 'Edit' }}</button>
        </td>
        <td>
          <button (click)="confirmDeleteRow(i)" *ngIf="i !== editRowIndex">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>