<form [formGroup]="kundeForm">
  <table>
    <!-- your table structure -->
    <tbody formArrayName="kunden">
      <tr *ngFor="let kunde of kunden.controls; let i = index" [formGroupName]="i" [ngClass]="{ 'editing': i == editRowIndex }">
        <td>
          <input formControlName="nachname" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].nachname">
           <div *ngIf="kunde.get('nachname')?.hasError('required')" >Name is required.</div>
        </td>
        <td>
            <input formControlName="vorname" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].vorname">
            <div *ngIf="kunde.get('vorname')?.hasError('required')" >Name is required.</div>
        </td>
        <td>
          <input formControlName="tel" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].tel">
          <div *ngIf="kunde.get('tel')?.hasError('required')" >Name is required.</div>
        </td>
       <td formGroupName = "adresse">
          <input formControlName="strasse" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.strasse">
          <!--  <div *ngIf="kunde.get('adresse.strasse')?.hasError('required')" >Name is required.</div> -->
        </td>
        <td formGroupName = "adresse">
          <input formControlName="hausnr" [readonly]="!isEditRow(i)" [(ngModel)]="items[i].adresse.hausnr">
          <div *ngIf="kunde.get('hausnr')?.hasError('required')" >Name is required.</div>
        </td>
        <td formGroupName = "adresse">
          <input formControlName="ort" [readonly]="!isEditRow(i)">
          <div *ngIf="kunde.get('ort')?.hasError('required')" >Name is required.</div>
        </td>
        <td formGroupName = "adresse">
          <input formControlName="plz" [readonly]="!isEditRow(i)" >
          <div *ngIf="kunde.get('plz')?.hasError('required')" >Name is required.</div>
        </td> 
        <!-- Repeat the same pattern for other columns -->
        <td>
          <button (click)="toggleEditRow(i)">{{ i == editRowIndex ? 'Save' : 'Edit' }}</button>
        </td>
        <td>
          <button (click)="confirmDeleteRow(i)" *ngIf="i !== editRowIndex">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</form>