<div class="flex items-center">
    <button class="bg-blue-500 text-white px-4 py-2 rounded" (click)="openModal()" appSortOrder="nachname">Add</button>
</div>
<div class="modal" [style.display]="showModal ? 'flex' : 'none'">
    <form [formGroup]="kundeForm" (ngSubmit)="onSubmit()" class="modal-form">

        <div class="form-group">
            <label for="vorname">Vorname:</label>
            <input id="vorname" type="text" formControlName="vorname" class="input-field" />
            <div class="error-message">{{getKundenErrors("vorname")}}</div>
        </div>

        <div class="form-group">
            <label for="nachname">Nachname:</label>
            <input id="nachname" type="text" formControlName="nachname" class="input-field" />
            <div class="error-message">{{getKundenErrors("nachname")}}</div>
        </div>

        <div class="form-group">
            <label for="tel">Tel:</label>
            <input id="tel" type="text" formControlName="tel" class="input-field" />
            <div class="error-message">{{getKundenErrors("tel")}}</div>
        </div>

        <div formGroupName="adresse" class="address-group form-group">
            <label for="strasse">Strasse:</label>
            <input id="strasse" type="text" formControlName="strasse" class="input-field" />
            <div class="error-message">{{getKundenErrors("adresse.strasse")}}</div>
        </div>

        <div formGroupName="adresse" class="address-group form-group">
            <label for="hausnr">Hausnr:</label>
            <input id="hausnr" type="text" formControlName="hausnr" class="input-field" />
            <div class="error-message">{{getKundenErrors("adresse.hausnr")}}</div>
        </div>

        <div formGroupName="adresse" class="address-group form-group">
            <label for="ort">Ort:</label>
            <input id="ort" type="text" formControlName="ort" class="input-field" />
            <div class="error-message">{{getKundenErrors("adresse.ort")}}
            </div>
        </div>

        <div formGroupName="adresse" class="address-group form-group">
            <label for="plz">PLZ:</label>
            <input id="plz" type="text" formControlName="plz" class="input-field" />
            <div class="error-message">{{getKundenErrors("adresse.plz")}}
            </div>
        </div>

        <div class="button-group">
            <button type="submit" class="submit-button">Create</button>
            <button type="button" class="cancel-button" (click)="onCancel()">Cancel</button>
        </div>

    </form>
</div>